body{   
    background-color: #00ff00;
}


.box{
    width: 400px;
    height: 200px;
    margin: 20px;
    background-color: #00000000;
    background-image: url("https://wallpapercave.com/wp/wc1787509.jpg");
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}