body{
    margin: 0;
    font-family: sans-serif;
}

div,body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: 29px;
    border: 2px solid #000;
}

.flexbox__flex-item{
    background: #a22;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
}

/*PARA QUE EL PRIMERO TENGA...*/
.flexbox__flex-item:first-child{
    background: #f77;
}

.flexbox__flex-item:last-child{
    background: #222;
}