/*NO LO VAMOS A HACER RESPONSIVE YA QUE LOS SIDE BAR MENUS SON PARA DESKTOPS*/
/*PARA EL MOVIL LO QUE VAMOS A HACER ES HACER DESAPARECER EL TELÉFONO */

body, div, ul,li,a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

label, .sidebar__nav{
    user-select: none;
}

body{
    --bg-color: color-mix(in srgb, #256405 70%, #fff);
    --sidebar-color: #fff;
    --dark-color: #05330166;
    --text-color: #444;
    background-color: var(--bg-color);
    font-family: montserrat;
}

/* ----- SIDEBAR STYLES ----- */

.sidebar{
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20dvw,300px);
    font-size: clamp(1rem, 2.2dvw, 3rem);
    display: flex;
    flex-direction: column;
    /*Esto es para que cada cosa se ponga donde se tiene que poner*/
    justify-content: space-evenly;
    padding: 30px 0 30px 6px;
    overflow-y: auto;
}

.sidebar__nav{
    /*El elemento crece para llenar el espacio disponible, compartiran de manera equitativa el espacio; flex-shrink: 1 elementos reduciran su tamaño; flex-basis:0% tamaño base ssera 0*/
    flex: 1 1 0%;
    display: flex;
}

.sidebar__nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
}

.sidebar__item{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: .9rem;
    padding-right: 6px;
    color: var(--dark-color);
    /*Borde superior izquierdo, luego derecho, luego inferior derecho y luego inferior izquierdo.*/
    border-radius: 36px 0 0 36px;
    position: relative;
}

.sidebar__item span {
    padding: 12px;
}

.sidebar__item a{
    color: inherit;
    text-decoration: none;
}

.sidebar__item:hover{
    background-color: var(--bg-color);
    color: var(--sidebar-color);
}


.sidebar__item::before, .sidebar__item::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.sidebar__item:hover::before{
    top: -18px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar__item:hover::after{
    bottom: -18px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

/* ----- SIDEBAR PICTURE STYLES ----- */

.sidebar__picture{
    margin-left: 1.5rem;
    position: relative;
    /*Esto es porque después le queremos poner por encima el checkbox*/
    z-index: 10;
} 

.sidebar__picture img {
    width: clamp(4rem, 75%, 20rem);
    /*Para que se centre cuando le demos medidas al pciture*/
    opacity: .823;
    margin: auto;
}

/* ----- SIDEBAR PROFILE MENU STYLES ----- */

.sidebar__profile img{
    border-radius: 50%;
    width: 2rem;
}

.item-profile .profile-option{
    font-size: .8rem;
    color: var(--text-color);
    padding: 0 12px 0 9px;
    color: inherit;
}

.item-profile{
    margin: 12px;
    color: var(--text-color);
    width: fit-content;
}

.item-profile:hover{
    border-radius: 25px;
    color: var(--sidebar-color);
}

.item-profile::before, .item-profile::after{
    display: none;
}

input[type="checkbox"]{
    display: none;
}

.sidebar__form{
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar__form .open-button{
    display: none;
}

.sidebar label{
    position: relative;
    color: var(--sidebar-color);
    background-color: var(--bg-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
    /*PARA QUE NO SE PUEDA SELECCIONAR*/
}

.sidebar label::before, .sidebar label::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: 11px;
    height: 25px;
    background-color: transparent;
}


.sidebar label::before{
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}


.sidebar label::after{
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

/*El label que sea hermano de un input que este checkeado*/
input[type="checkbox"]:checked ~ label{
    color: var(--bg-color);
    background-color: var(--sidebar-color);
}

input[type="checkbox"]:checked ~ label::after, input[type="checkbox"]:checked ~ label::before{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked){
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form .open-button{
    display:block;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form label{
    display:none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__picture img{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) picture{
    width: fit-content;
    margin-left: .75rem;
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item a, .profile-option){
    display: none;
}

.sidebar label{
    position:relative;
    background-color: var(--bg-color);
    color: var(--sidebar-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label::before, .sidebar label::after{
    content: '';
    background-color: var(--bg-color);
    position:absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}