*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    --bg-color: #ffb18c;
    --text-color:#333;
    --faq-color:#fff;
    --dark-color: rgb(255,130,77);
}

body, div, ul, li, a, h1, h2,h3,h4{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
}

.faq{
    margin: auto;

}

/* A los detalles del faq */
.faq__option{
    background-color: var(--faq-color);
    margin: 7px;
    padding: 7px;
    max-height: 34px;
    transition: max-height .5s;
    overflow: hidden;
    display: block;
}

.faq__option:has(input[type="checkbox"]:checked){
    max-height: 150px;
    transition: max-height 1s;
}

.faq__option:has(input[type="checkbox"]:checked) .content{
    animation: aparecer 1s both;
}

.faq__ask{
    /* Para que así el usuario no pueda seleccionar las preguntas */
    user-select: none;
    position: relative;
}

.content{
    padding: 5px 10px;
    margin:10px;
    margin-bottom: 0;
    font-size: .8rem;
    color: var(--text-color);
}

/* Para la flechita */
.faq__ask::marker{
    content: '';
}

.faq__ask::before{
    content: '+';
    color: #ffb18c;
    position: absolute;
    right: 0;
    font-weight: 900;
}

input[type="checkbox"]{
    display: none;
}

/*Cuando el details esta open, queremos darle un estilo distinto*/

.faq__option:has(input[type="checkbox"]:checked) .faq__ask::before{
    content: '-';
}

.faq__option b{
    background-color: var(--dark-color);
    padding: 2px 4px;
    color: #fff;
    margin-right: 4px;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        translate: 0 20px;
        border-top: 1px solid transparent
    }

    50%{
        border-top: 1px solid transparent;
    }

    100%{
        opacity: 1;
        translate: 0 0;
        border-top: 1px solid var(--bg-color);
    }
}

@media screen and (min-width: 600px) {
    .faq{
        max-width: clamp(300px,70%,700px);
        margin: 40px auto;
    }
}

