*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.box{
    font-size: 30px;
    padding: 0 40px;
    border: 6px solid #000;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #48e #4938;
    scrollbar-width: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-align:end;
}

.crecer{
    height: 200vh;
}