body{
    margin: 0;
    font-family: sans-serif;
    background: #ccc;
}

div,body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    justify-content: start;
    /*align-items solo si hay una línea de items*/
    align-items: center;
    /*align-content solo si hay más de una línea de items*/
    align-content: center;
    gap: 10px;
    border: 2px solid #000;
}

.flexbox__flex-item{
    background: #a22;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    flex-basis : 150px;
    flex-grow: 1;
    /*Para abreviar flex-grow, flex-shrink y flex-basis usamos flex: grow shrink y basis, en ese orden*/
    flex: 1 1 100px;
}

.flexbox__flex-item:last-child{
    background: #222;
}

.flexbox__flex-item:nth-child(2n){
    background: #f77;
}